* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100vw;
}

.left-side-section {
    
    max-width: 50vw;
}

.right-side-section {
    max-width: 50vw;
    background-color: white;
}

.background-image {
    position: relative;
    height: 100vh;
}

.logo-container {
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 50%; /* Center the logo container vertically */
    left: 50%; /* Center the logo container horizontally */
    transform: translate(-50%, -50%); /* Center the logo container both vertically and horizontally */
}